h1 Admin Interface

ol
    li Create a directory called "pages"
    li Create a file called "layout.jade" inside "pages"
    li Create a sub-directory inside "pages" for each page
    li Every folder should include at least a .jade file with the same name

a(href="/admin/setup-default") Automatically set up everything